html, body, p {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(6, auto) 1fr;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: #eeeeee;
}

#button {
    grid-column: 1;
    background-color: black;
    width: 50px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

#button-text {
    transition: transform .3s linear;
    text-align: center;
}

#button ::-moz-selection {
    background-color: transparent;
}
#button ::selection {
    background-color: transparent;
}

#box1 {
    background-color: red;
    transition-delay: 0;
}

#box2 {
    background-color: orange;
    transition-delay: 0.1s;
}

#box3 {
    background-color: blue;
    transition-delay: 0.2s;
}

#box4 {
    background-color: greenyellow;
    transition-delay: 0.3s;
}

#box5 {
    background-color: cornflowerblue;
    transition-delay: 0.4s;
}

.box {
    grid-column: 1;
    width: 20em;
    height: 10em;
    -webkit-transition: transform .4s cubic-bezier(.11,.33,.76,1.35);
    -moz-transition: transform .4s cubic-bezier(.11,.33,.76,1.35);
    transition: transform .4s cubic-bezier(.11,.33,.76,1.35);
}

.box--slide-out {
    transform: translateX(-18em);
}